/*------------------------------------------------- Area Aluno -----------------------------------------*/
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/fundo2.png);
    background-size: cover;
    color: #243a69;
    font-size: 62.5%;/*100%*/
    
} /*Carina*/

a{
    text-decoration: none;
    font-size: 1.6em; /*16px*/
    color: #00ccff;
}

a:hover{
    text-decoration: underline;
}


.container{
    max-width: 1128px;
    margin: 0 auto;    
}

img, figure, video, embed{ 
    max-width: 100%;
}

header{
    width: 100%;
    height: 80px; /*altura do header em relação ao site*/
    margin-top: 3.6em; /*36px*/
    margin-bottom: 3.6em;
    padding: 15px;
}

header img{
    text-align: left;
    width: 300px;
    margin-top: 0;
    margin-right: 0;
}

header h1{
    text-align: left;
    font-size: 3.6em;
    margin-left: 350px;
    margin-top: 0;
    
}

.logo{
    width: 300px; /*150px / 1128px*/
    float: left;
}

article{
    width: 100px; /*264px / 1128px*/
    float: left;
    margin-right: 10.85%; /*24px / 1128px*/   
    font-size: 1.8em; 
    margin-top: 150px;   
}

article:last-child{
    margin-right: 0;
}

.aviso{
    width: 100%;
}

footer{
    color: black;
}

/*

.color1 { #878286 };
.color2 { #88b6a3 };
.color3 { #bdba9e };
.color4 { #e2c18d };
.color5 { #e2bb64 };
.color1 { #1f192f };
.color2 { #2d6073 };
.color3 { #65b8a6 };
.color4 { #b5e8c3 };
.color5 { #f0f7da };
.color1 { #f7f4e8 };
.color2 { #daf3ea };
.color3 { #85e6c0 };
.color4 { #6bb39b };
.color5 { #0b0b0d };
.color1 { #d4cdc5 };
.color2 { #5b88a5 };
.color3 { #f4f4f2 };
.color4 { #191013 };
.color5 { #243a69 };
*/

/*Sobre a logo - 

Deixar o nome do lado
mudar a cor
deixar sem fundo
tentar fazer degrade da palleta de cores para usar de fundo

*/