/* ------------------ INDEX ----------------------*/

body {
  font-family: 'Boogaloo', 'Permanent Marker', 'Roboto';
  /*background-image: url(../img/fundo3.png);
    background-size: cover;*/
  background-color: #dfe6e9;
  color: #341f97;
  font-size: 62.5%; /*100%*/
}

a {
  text-decoration: none;
  font-size: 1em; /*16px*/
  color: #243a69;
}

a:hover {
  text-decoration: underline;
}

nav {
  float: right;
  width: 740px; /*840px / 1128*/
}

nav ul {
  float: right; /*posição que vai ficar carregado*/
}

nav li {
  display: inline-block; /*para não quebrar a linha*/
  font-size: 16px; /*12px*/
  margin-top: 10px; /*10px / 840px*/
  margin-left: 40px; /*20px / 840px*/
}

nav li a {
  color: #243a69;
}

nav:last-child {
  margin-right: 120px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

img,
figure,
video,
embed {
  max-width: 100%;
}

header {
  width: 100%;
  height: 170px;
  padding: auto;
  margin-bottom: 0px;
  background-color: #b2bec3;
  border-radius: 25px 25px 0px 0px;
  position: relative;
}

header img {
  text-align: left;
  width: 300px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 60px;
}

h1 {
  text-align: left;
  font-size: 40px;
  margin-top: 0;
  padding-top: 50px;
  margin-left: 600px;
  color: #243a69;
}

h2 {
  font-size: 28px;
  text-align: center;
  /*position: absolute;*/
  color: #341f97;
}

.logo {
  width: 300px; /*150px / 1128px*/
  float: left;
}

/*main img{
  background-size: cover;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 800px;
}*/

section {
  text-align: center;

  background-size: cover;
  /*border-radius: 0;*/
  opacity: 0.95;
  width: 100%;
  height: 800px;
  /*position: relative;*/
}

section h2 {
  font-size: 28px;
  text-align: center;
  /*position: absolute;*/
  color: #341f97;
  padding-top: 200px;
}

section ul li {
  font-size: 14px;
  color: rgb(63, 63, 63);
  text-align: center;
}

section ul {
  list-style-type: none;
}

footer {
  color: #243a69;
  margin-top: 10px;
  text-align: center;
  background-color: #b2bec3;
  border-radius: 0px 0px 20px 20px;
  height: 100px;
  padding-top: 20px;
  margin: auto;
}

footer p {
  font-size: 12px;
  margin-left: 0;
  line-height: 1em;
}
.tipoUsuario {
}
.option {
  font-size: 25px;
  display: list-item;
  padding: 5px;
  border: 10px solid #dfe6e9;
  border-width: 20px;
  background-color: #dfe6e9;
  transition: 1s; //determina o tempo de transição para volta do estado normal
  font-size: 40px;
  cursor: pointer;
}

.option:hover {
  border: 30px solid #f7f9fa;
  background-color: #f7f9fa;
  transition: 1s; //determina o tempo de transição para aplicação dos estilos
}
