/*------------------------------------------------- Index -----------------------------------------*/
body{
    font-family: 'Roboto';
    background-image: url(../img/fundo2.png);
    background-size: contain;
    
} /*Carina*/

.aluno img{
    width: 60px;
}

/*

.color1 { #878286 };
.color2 { #88b6a3 };
.color3 { #bdba9e };
.color4 { #e2c18d };
.color5 { #e2bb64 };
.color1 { #1f192f };
.color2 { #2d6073 };
.color3 { #65b8a6 };
.color4 { #b5e8c3 };
.color5 { #f0f7da };
.color1 { #f7f4e8 };
.color2 { #daf3ea };
.color3 { #85e6c0 };
.color4 { #6bb39b };
.color5 { #0b0b0d };
.color1 { #d4cdc5 };
.color2 { #5b88a5 };
.color3 { #f4f4f2 };
.color4 { #191013 };
.color5 { #243a69 };
*/

/*Sobre a logo - 

Deixar o nome do lado
mudar a cor
deixar sem fundo
tentar fazer degrade da palleta de cores para usar de fundo

*/