<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot></title>
    <link rel="stylesheet" href="/chatdemo/public/stylesheets/style.css" />
  </head>
  <body>
    <h1>title</h1>
    <p>Welcome to Chatbot</p>
  </body>
</html>
