/*------------------------------------------------- Area Responsaveis -----------------------------------------*/
body{
    font-family: 'Boogaloo', 'Permanent Marker', 'Roboto';
    /*background-image: url(../img/fundo3.png);
    background-size: cover;*/
    background-color: #dfe6e9;
    color: #341f97;
    font-size: 62.5%;/*100%*/
    
} /*Carina*/

a{
    text-decoration: none;
    font-size: 1em; /*16px*/
    color: #243a69;
}

a:hover{
    text-decoration: underline;
}

.container{
    max-width: 1320px;
    margin: 0 auto; 
       
}

img, figure, video, embed{ 
    max-width: 100%;
}

header{
    width: 100%;
    height: 160px; /*altura do header em relação ao site*/
     /*36px*/
    margin-bottom: 20px;
    background-color: #b2bec3;
    border-radius: 50px;
    
}

header img{
    text-align: left;
    width: 300px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 60px;
}

h1{
    text-align: left;
    font-size: 40px;
    margin-top: 0;
    padding: 50px;
    margin-left: 500px;
    
}

h2{
    font-size: 24px;
    text-align: center;
    padding: 20px 420px 30px 400px;
    color: #341f97;
       
}

p{
    font-size: 18px;
    text-align: center;
}

.logo{
    width: 300px; /*150px / 1128px*/
    float: left;
}

.button{
    text-align: center;
    margin-top: 650px;     
}

button{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px; 
}

.faltas{
    margin-bottom: 50px;
}

section{
    text-align: center;   
}

.section img{
    display: block;
    margin-left: 250px;
}

article{
    width: 120px; /*264px / 1128px*/
    float: left;
    margin-right: 10.24%; /*24px / 1128px*/   
    font-size: 1.8em; 
    margin-top: 50px; 
    text-align: center;
    
}

article:last-child{
    margin-right: 20px;
}

article:first-child{
    margin-left: 250px;
}

article:nth-child(5n){
    margin-left: 250px;
}

.article{
    width: 180px; /*264px / 1128px*/
    float: left;
    margin-right: 24px; /*24px / 1128px*/   
    font-size: 1.6em; 
    margin-top: 50px; 
    text-align: center;
    
}

.article:last-child{
    margin-right: 20px;
}

.article:first-child{
    margin-left: 100px;
}

table{
    width: 500px;
    height: 100px;
    margin-left: 350px;
    margin-right: 420px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

table th{
    font-size: 20px;    
}

.table{
    width: 900px;
    height: 100px;
    margin-left: 180px;
    margin-right: 420px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}
.table th{
    font-size: 20px;    
}

footer{
    color: #636e72;
    margin-top: 120px;
    margin-left: 0;
    margin-bottom: 0;
}

footer p{
    font-size: 12px;
    margin-left: 0;
}

.footer{
    color: #636e72;
    margin-top: 520px;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
}