/*------------------------------------------------- Area Aluno -----------------------------------------*/
body{
    font-family: 'Boogaloo', 'Permanent Marker', 'Roboto';
    /*background-image: url(../img/fundo3.png);
    background-size: cover;*/
    background-color: #dfe6e9;
    color: #341f97;
    font-size: 62.5%;/*100%*/
    
} /*Carina*/

a{
    text-decoration: none;
    font-size: 1em; /*16px*/
    color: #243a69;
}

a:hover{
    text-decoration: underline;
}

nav{
    float: center;
    width: 74.46%; /*840px / 1128*/
    
}

nav ul{
    float: center; /*posição que vai ficar carregado*/
}

nav li{
    display: inline-block; /*para não quebrar a linha*/
    font-size: 16px; /*12px*/
    margin-top: 16px; /*10px / 840px*/
    margin-left: 300px;/*20px / 840px*/   
}

nav li a{
    color: #243a69;
    
}

.container{
    max-width: 1320px;
    margin: 0 auto; 
       
}

img, figure, video, embed{ 
    max-width: 100%;
}

header{
    width: 100%;
    height: 160px; /*altura do header em relação ao site*/
     /*36px*/
    margin-bottom: 20px;
    background-color: #b2bec3;
    border-radius: 50px;
    
}

header img{
    text-align: left;
    width: 300px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 60px;
}

h1{
    text-align: left;
    font-size: 40px;
    margin-top: 0;
    padding: 50px;
    margin-left: 500px;
    
}

.logo{
    width: 300px; /*150px / 1128px*/
    float: left;
}

section{
    text-align: center;
   
}

/*.section{
    background-color: #dfe6e9;
}*/

article{
    width: 100px; /*264px / 1128px*/
    float: left;
    margin-right: 10.24%; /*24px / 1128px*/   
    font-size: 1.8em; 
    margin-top: 50px; 
    
}

article:last-child{
    margin-right: 0;
}

article:first-child{
    margin-left: 100px;
}

article p{
    font-size: 16px;
}

.aviso{
    width: 600px;
    /*padding: 100px 420px 20px 300px;*/
    text-align: center;
    margin-top: 80px;
    
}

h2{
    font-size: 24px;
    text-align: center;
    padding: 0 420px 50px 400px;
    color: #341f97;
    font-family: 'Indie Flower';
    
}

h2 a{
    color: #341f97;
}

table{
    width: 300px;
    height: 300px;
    margin-left: 500px;
    margin-right: 420px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}

table th{
    font-size: 18px;
}

p{
    font-size: 28px;
    text-align: center;
}

button{
    text-align: center;
    margin-top: 50px;
    
}

.esqueceu{
    font-size: 14px;
}


footer{
    color: #636e72;
    margin-top: 120px;
    margin-left: 0;
    margin-bottom: 0;
}

footer p{
    font-size: 12px;
    margin-left: 0;
}
/*

https://flatuicolors.com/palette/ca
https://flatuicolors.com/palette/de
https://flatuicolors.com/palette/us

*/

/*Sobre a logo - 

Deixar o nome do lado
mudar a cor
deixar sem fundo
tentar fazer degrade da palleta de cores para usar de fundo

*/