/*------------------------------------------------- Area Aluno -----------------------------------------*/
body{
    font-family: 'Boogaloo', 'Permanent Marker', 'Roboto';
    /*background-image: url(../img/fundo3.png);
    background-size: cover;*/
    background-color: #dfe6e9;
    color: #341f97;
    font-size: 62.5%;/*100%*/
    
} /*Carina*/

a{
    text-decoration: none;
    font-size: 1em; /*16px*/
    color: #243a69;
}

a:hover{
    text-decoration: underline;
}

/*config menus*/

nav{
    float: center;
    width: 74.46%; /*840px / 1128*/
    
}

nav ul{
    float: center; /*posição que vai ficar carregado*/
}

nav li{
    display: inline-block; /*para não quebrar a linha*/
    font-size: 16px; /*12px*/
    margin-top: 16px; /*10px / 840px*/
    margin-left: 300px;/*20px / 840px*/   
}

nav li a{
    color: #243a69;
    
}

/* ---------- */

/* Corpo Site */

.container{
    max-width: 1320px;
    margin: 0 auto; 
       
}

img, figure, video, embed{ 
    max-width: 100%;
}

header{
    width: 100%;
    height: 160px; /*altura do header em relação ao site*/
     /*36px*/
    margin-bottom: 20px;
    background-color: #b2bec3;
    border-radius: 50px;
    
}

header img{
    text-align: left;
    width: 300px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 60px;
}

h1{
    text-align: left;
    font-size: 40px;
    margin-top: 0;
    padding: 50px;
    margin-left: 500px;
    
}

.logo{
    width: 300px; /*150px / 1128px*/
    float: left;
}

/* ------------- */

/* meio do site */

section{
    text-align: center;
   
}

/*.section{
    background-color: #dfe6e9;
}*/

article{
    width: 100px; /*264px / 1128px*/
    float: left;
    margin-right: 90px; /*24px / 1128px*/   
    font-size: 1.8em; 
    margin-top: 50px; 
    
}

article:last-child{
    margin-right: 0;
}

article:first-child{
    margin-left: 100px;
}

/*article p{
    font-size: 16px;
}*/

/* ------------- */

/*ajuste article pg notasfaltas*/
.notasFaltas{
    width: 110px;
    text-align: center;
    margin-bottom: 150px; 
    display: inline-block;  
    padding-right: 60px;  
    position: relative;  
}

.notasFaltas:last-child{
    margin-right: 300px;
}

.notasFaltas:first-child{
    margin-left: 500px;
}

.registro{
    
    margin-top: 50px;
    display: inline-block;
    text-align: center;  
}

/* ------------- */

/*Area Aluno*/

.aviso{
    width: 600px;
    /*padding: 100px 420px 20px 300px;*/
    text-align: center;
    margin-top: 80px;
    
}

h2{
    font-size: 24px;
    text-align: center;
    padding: 0 420px 50px 400px;
    color: #341f97;
       
}

h2 a{
    color: #341f97;
}
/* ------------- */

/*Table de todas as pgs*/

table{
    width: 300px;
    height: 300px;
    margin-left: 500px;
    margin-right: 420px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

table th{
    font-size: 20px;    
}

.table{
    width: 1320px;
    height: 20px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 550px;
    padding: 0;
}

.table td{
    width: 50px;
}

.atvextra{
    width: 900px;
    height: 50px;
    margin-left: 200px;
    margin-right: 420px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    
}

.atvextra td{
    width: 50px;
}

p{
    font-size: 18px;
    text-align: center;

}
/* ------------- */

/*Botão voltar de todas as pgs*/

button{
    text-align: center;
    margin-top: 50px;
    /* position: absolute; */
    bottom: 150px;
    display: contents;
    
    /* text-align: center;
    bottom: 50px;
    position: fixed;   */
}

.esqueceu{
    font-size: 14px;
}
/* ------------- */

/*Chat profs*/

.caixatexto{
    width: 500px;
    height: 200px;
    text-align: justify;
    border-radius: 15px;
}
/* ------------- */

.hidden{
    display: none;
}



/*Footer todas as pgs*/


footer{
    color: #636e72;
    bottom: 0;
    /* position: relative; */
    /* width: 90%; */
    text-align: center;
    margin-top: 250px;
    /*margin-top: 120px;*/
    margin-left: 0;
    margin-bottom: 0;
    
}

footer p{
    font-size: 12px;
    margin-left: 0;
}
/* ------------- */
/*

https://flatuicolors.com/palette/ca
https://flatuicolors.com/palette/de
https://flatuicolors.com/palette/us

*/

/*Sobre a logo - 

Deixar o nome do lado
mudar a cor
deixar sem fundo
tentar fazer degrade da palleta de cores para usar de fundo

*/