/*------------------------------------------------- Area Aluno -----------------------------------------*/
body{
    font-family: 'Roboto', sans-serif;
    /*background-image: url(../img/fundo3.png);
    background-size: cover;*/
    background-color: #dfe6e9;
    color: #243a69;
    font-size: 62.5%;/*100%*/
    
} /*Carina*/

a{
    text-decoration: none;
    font-size: 1em; /*16px*/
    color: #243a69;
}

a:hover{
    text-decoration: underline;
}

nav{
    float: center;
    width: 74.46%; /*840px / 1128*/
}

nav ul{
    float: center; /*posição que vai ficar carregado*/
}

nav li{
    display: inline-block; /*para não quebrar a linha*/
    font-size: 16px; /*12px*/
    margin-top: 1em; /*10px / 840px*/
    margin-left: 300px;/*20px / 840px*/   
}

nav li a{
    color: #243a69;
}

.container{
    max-width: 1320px;
    margin: 0 auto;    
}

img, figure, video, embed{ 
    max-width: 100%;
}

header{
    width: 100%;
    height: 160px; /*altura do header em relação ao site*/
     /*36px*/
    margin-bottom: 20px;
    /*background-color: #5b88a5;*/
    
}

header img{
    text-align: left;
    width: 300px;
    margin-top: 0;
    margin-right: 0;
}

h1{
    text-align: center;
    font-size: 3.6em;
    margin-top: 0;
    padding: 50px;
    
}

.logo{
    width: 300px; /*150px / 1128px*/
    float: left;
}

section{
    text-align: center;
   
}

article{
    width: 100px; /*264px / 1128px*/
    float: left;
    margin-right: 10.24%; /*24px / 1128px*/   
    font-size: 1.8em; 
    margin-top: 50px; 
    
}

article:last-child{
    margin-right: 0;
}

article:first-child{
    margin-left: 100px;
}

article p{
    font-size: 16px;
}

.aviso{
    width: 600px;
    padding: 100px 420px 20px 300px;
    
}

h2{
    font-size: 24px;
    text-align: justify;
    padding: 0 420px 50px 300px;
    color: #85e6c0;
}

h2 a{
    color: #85e6c0;
}

table{
    width: 300px;
    height: 300px;
    margin-left: 520px;
    margin-right: 420px;
    margin-top: 40px;
    margin-bottom: 10px;
}

p{
    font-size: 28px;
    text-align: center;
}

button{
    text-align: center;
    margin-top: 50px;
    
}


footer{
    color: #e2c18d;
    margin-top: 120px;
}

footer p{
    font-size: 12px;
}
/*

.color1 { #878286 }; rosa claro/cinza
.color2 { #88b6a3 }; Verde bem claro/cinza
.color3 { #bdba9e }; beje/cinza claro
.color4 { #e2c18d }; amarelo clarinho
.color5 { #e2bb64 }; amarelo
.color1 { #1f192f }; Azul escuro/Roxo
.color2 { #2d6073 }; Azul ciano
.color3 { #65b8a6 }; Azul claro/verde
.color4 { #b5e8c3 }; verde muito claro
.color5 { #f0f7da }; Amarelo quase branco
.color1 { #f7f4e8 }; Branco
.color2 { #daf3ea }; Verde bem claro (quase branco)
.color3 { #85e6c0 }; Verde bem Claro
.color4 { #6bb39b }; Verde Claro
.color5 { #0b0b0d }; Azul bem escuro (quase preto)
.color1 { #d4cdc5 }; Laranja bem claro (quase branco)
.color2 { #5b88a5 }; Azul claro/cinza
.color3 { #f4f4f2 }; Branco
.color4 { #191013 }; Vermelho escuro (quase preto)
.color5 { #243a69 }; Azul escuro
*/

/*Sobre a logo - 

Deixar o nome do lado
mudar a cor
deixar sem fundo
tentar fazer degrade da palleta de cores para usar de fundo

*/